$backgroundColor: black;
$defaultSkyBlueColor: rgb(29, 161, 242);
$fontFamily: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$fontColor: rgb(217, 217, 217);
$backgroundColorSecondary: #202327;

$defaultSizeFont: 16px;

body {
  background-color: $backgroundColor;
  font-family: $fontFamily;
  color: $fontColor;
}

%flex-properties {
  display: flex;
  justify-content: space-between;
}

.container {
  @extend %flex-properties;

  margin: 0 50px 0 50px;
}

.messages_fixed {
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 15px,
    rgba(255, 255, 255, 0.15) 0px 0px 3px 1px;
  position: fixed;
  bottom: 0px;
  right: 100px;
  border-radius: 8px;

  border-style: solid;
  margin-bottom: -15px;
  width: 350px;
  background-color: $backgroundColor;
}

.message_label {
  float: left;
  width: 50%;
  padding-left: $defaultSizeFont;
  padding-top: $defaultSizeFont;
  font-size: 24px;
  font-weight: 900;
}

.msg_svg_icon {
  float: right;
  padding: $defaultSizeFont;
}

.left-sidebar {
  flex: 1.2;
  @extend %flex-properties;
  flex-direction: column;
  align-items: center;

  position: fixed;
  width: 250px;
}

.inside-left-side-div {
  width: 90%;
  margin-top: 10px;
  position: relative;
}

.name-elm {
  width: 70%;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 9999px;
  padding: 5px 0 10px 0;
}

.name-elm {
  li {
    margin-left: -20px;
  }
}

.name-elm:hover {
  color: $defaultSkyBlueColor;
  background: rgb(29 161 242 / 10%);
  border-radius: 100px;
}

.name-elm:hover svg {
  fill: $defaultSkyBlueColor;
}

.svg_icon_size {
  height: 2rem;
  fill: $fontColor;
}

.left_side_menu_span {
  font-size: 20px;
  font-weight: 700;
  margin-left: 10px;
  margin-top: 8px;
  position: absolute;
  padding-left: 10px;
}

.list_left_ul {
  padding-top: 15px;
}

.list_left_ul li {
}

.left_side_tweet_button {
  font-size: 24px;
  margin-top: 10px;
  width: 100%;
  font-weight: 700;
  background-color: $defaultSkyBlueColor;
  border-radius: 20px;
  height: 40px;
  cursor: pointer;
}

.left_side_tweet_button h2 {
  padding-left: 90px;
  padding-top: 10px;
  font-size: 18px;
  font-weight: 400;
}

.profile-icon {
  width: 90%;
  flex-direction: row;
  align-items: center;
}

.profile_img {
  border-radius: 9999px;
  margin: 16px 0 0 16px;
}

.desc_profile {
  margin-bottom: 20px;
}

.right-sidebar {
  flex: 1.3;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.search_div {
  margin-top: 5px;
  height: 45px;
  width: 375px;
  background-color: $backgroundColorSecondary;

  position: fixed;
  border-radius: 9999px;
}

.search_div svg {
  padding-top: 10px;
  padding-left: 12px;
  min-width: 32px;
  height: 1.25em;
}

.search_input {
  background-color: #202327;
  border: #202327;
  color: white;
  margin-top: -5px;
  width: 80%;
  height: 2em;

  font-size: 16px;
  border-radius: 99999px;
}

.parent_what_happening_div {
  margin-top: 71px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 2px solid blue;

  z-index: -1;
}

.what_happening_div {
  height: 350px;

  border: 2px solid $fontColor;
}

.who_to_follow {
  margin-top: $defaultSizeFont;
  height: 150px;
  border: 2px solid $fontColor;
}

.fixed_header {
  height: 55px;
  border: 1px solid #15181c;
  position: fixed;
  width: 585px;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  background-color: $backgroundColor;
}

.header_home_txt {
  margin-top: 10px;
  margin-left: 16px;
}

.header_svg_icon {
  margin-top: 10px;
  margin-right: $defaultSizeFont;
}

.middle-portion {
  flex: 2;
  height: 100vh;
  margin-left: 260px;

  margin-right: 20px;
}
.posts_div {
  position: relative;
  z-index: -1;
}

.middle_whats_happening {
  margin-top: 56px;
  border: 1px solid #15181c;
  height: 180px;
}

.recent_post {
  border: 2px solid green;
  position: relative;
  border: 1px solid #15181c;
  border-bottom: none;

  height: 350px;
}

.profile_img {
  border-radius: 9999px;
  margin: 16px 0 0 16px;
}

.tweet_div {
  position: absolute;
  top: 20px;
  left: 70px;
}

.post_image {
  height: 200px;
  width: 480px;
  border-radius: 10px;
  margin-top: 20px;
}

.desc_tweet_p {
  line-height: 17px;
  margin-top: 10px;
  padding-right: 10px;
}

.tweet {
  display: flex;
  border-bottom: 1px solid #e6ecf0;
  margin-bottom: 2px;
  padding: 10px 15px;
}

.tweet:hover {
  background: rgba(0, 0, 0, 0.03);
  cursor: pointer;
}

.tweet a {
  color: #1b94e0;
  text-decoration: none;
}

.tweet a:hover {
  text-decoration: underline;
}

.tweet__author-logo {
  width: 49px;
  height: 49px;
  border-radius: 50%;
  margin-right: 10px;
}

.tweet__header {
  display: flex;
}

.tweet__author-name {
  font-size: 15px;
  font-weight: 700;
  color: #14171a;
  margin-right: 5px;
}

.tweet__author-slug {
  color: #5b7083;
  font-size: 15px;
}

.tweet__publish-time {
  margin-left: 5px;
  color: #657786;
}

.tweet__image {
  width: 100%;
  border-radius: 15px;
  margin-top: 10px;
}

.home-page-logo {
  height: 22.5px;
  filter: invert(49%) sepia(89%) saturate(1341%) hue-rotate(175deg)
    brightness(96%) contrast(97%);
  padding-right: 20px;
}
