$bg: #02d0e8;
$left_card_bg: #0071fe;
$right_card_bg: white;
$button_color: #0070fd;
$left_text_color: white;
$right_text_color_bold: #5b748a;
$right_text_color: #c0c4c7;
$fontFamily: Roboto;

body {
  margin: 0;
  padding: 0;
  font-family: $fontFamily;
}

%flex-center {
  display: flex;
  justify-content: center;
}

.container {
  background-color: $bg;
  @extend %flex-center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.lottery_card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: auto;
}

.left_part {
  background-color: $left_card_bg;
  display: flex;
  flex-direction: column;
  align-content: center;

  height: 100%;
  width: 40%;
  //   position: fixed;
}

.logo {
  display: flex;
  flex: 1;
}

.logo_img {
  height: 40px;
  width: 40px;
  margin-top: 18px;
  margin-left: 20px;
}

.logo_text {
  color: $left_text_color;

  font-size: 20px;
  font-weight: 600;
  margin-top: 25px;
}

.logo_text_bolder {
  color: $left_text_color;
  flex: 1;
  @extend %flex-center;
  align-items: center;

  font-size: 30px;
}

.brand_img {
  height: 300px;
  width: 400px;
  flex: 5;
}

.right_part {
  background-color: $right_card_bg;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right_container {
  border: 2px solid red;
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  //align-items: center;
}

.right_top {
  flex: 1;
  border: 2px solid green;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.register {
  font-weight: 900;
  font-size: 18px;
  color: $right_text_color_bold;
}

.right_text_bolder {
  font-weight: 800;
  margin-top: 20px;
  color: $right_text_color_bold;
}

.right_text {
  color: $right_text_color;
  font-size: 14px;
}

.input_field {
  display: flex;
  justify-content: space-between;
}

.right_last {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid blue;
}
