body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  margin: -10px 0px 0px -10px;
}

.bg_image {
  position: absolute;
  opacity: 0.9;
  filter: brightness(50%);
}

.bg_image_img {
  width: 100%;
}

.Netflix_label {
  color: #e5111d;
  font-weight: 800;
  font-size: 45px;
  margin-left: 50px;
  margin-bottom: 40px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  top: 20px;
}

.svg-icon-netflix-logo {
  height: 80px;
  width: 200px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  /*--- Mobile portrait ---*/
  body {
    background-color: black;
  }

  .bg_image_img {
    height: 0;
    width: 0;
  }

  .Netflix_label {
    height: 25px;
    width: 70px;
    padding-top: 5px;
    margin-left: 10px;
    margin-bottom: 0;
  }
  .svg-icon-netflix-logo {
    height: 30px;
    width: 80px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 800px) {
  /*--- Mobile landscape ---*/
  .bg_image_img {
    height: 100%;
    width: 100%;
  }
}

@media only screen and (min-width: 690px) and (max-width: 800px) {
  /*--- Tablet portrait ---*/

  .bg_image_img {
    height: 100vh;
    width: 100%;
  }

  .Netflix_label {
    height: 0;
    width: 0;
    padding-top: 5px;
    margin-left: 25px;
    margin-bottom: 0;
  }
  .svg-icon-netflix-logo {
    height: 45px;
    width: 167px;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1024px) {
  /*--- Small tablet landscape ---*/
  .bg_image_img {
    height: 100vh;
    width: 100%;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1224px) {
  /*--- Tablet landscape --- */
  .bg_image_img {
    height: 100vh;
    width: 100%;
  }
}
