.nav_bar {
  position: relative;
  text-align: right;
  /* border: 5px solid red; */
  margin-top: -30px;
}

#lang_btn {
  padding: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#signup_btn {
  border: none;
  padding: 10px;
  background-color: #e5111d;
  border-radius: 4px;
  color: white;
  font-weight: 900;
  margin-right: 30px;
  cursor: pointer;
}

input {
  position: relative;
  width: 30%;
  padding: 10px;
  font-size: large;
  left: 400px;
  top: 120px;
  font-weight: 900;
}

.getStarted {
  position: relative;
  color: white;
  background-color: #e5111d;
  font-size: large;
  padding: 10px;
  border: none;
  left: 400px;
  top: 120px;
}

.middle_txt {
  position: relative;
  color: white;
  left: 30%;
  top: 120px;
}

#big_txt {
  position: relative;
  left: 31%;
  font-weight: bolder;
  font-size: 50px;
}

#small_txt {
  position: relative;
  left: 35%;
  font-size: 20px;
}
